on:
  pull_request:
    branches: [master, main]

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]') # skip execution for dependabot
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Lint Code Base'
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: false # disabled so that the scan is faster
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # needed to get access to PR
